{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Willkommen{% endblock %}</h2>
{% endblock %}

{% block content %}
  <p>
  Die folgenden Endpunkte sind für diese Demo verfügbar:
  </p>
  <dl>
    <dt><a href="/nodename">/nodename</a></dt>
    <dd>Anzeige des Pod-Namens, der den Request bearbeitet hat</dd>

    <dt><a href="/healthz">/healthz</a></dt>
    <dd>Endpunkt für Health-Check für diese Anwendung</dd>

    <dt><a href="/healthz/startup">/healthz/startup</a></dt>
    <dd>Endpunkt für die Startup-Checks für diesen Pod.
        Dieser Check liefert erst 30 Sekunden nach dem Start des Containers ein OK zurück.
    </dd>

    <dt><a href="/healthz/liveness">/healthz/liveness</a></dt>
    <dd>Endpunkt für die Liveness-Checks für diesen Pod</dd>

    <dt><a href="/healthz/readiness">/healthz/readiness</a></dt>
    <dd>Endpunkt für die Readiness-Checks für diesen Pod</dd>

    <dt><a href="/unhealthz">/unhealthz</a></dt>
    <dd>Endpunkt, der permanent einen Fehler für einen Health-Check zurückgibt</dd>

    <dt><a href="/setfailure">/setfailure</a></dt>
    <dd>Setzt einen Fehlerstatus, so dass dieser Fehler vom Health-Check erkannt und der Container neu gestartet werden muss.</dd>

    <dt><a href="/setload">/setload</a></dt>
    <dd>Simuliert eine hohe Arbeitslast für diesen Pod.
        Dies soll vom Readiness-Check erkannt und der Pod aus dem Loadbalancing genommen werden.
        Nach 30 Sekunden "reduziert" sich die Last wieder in der Loadbalancer soll den Pod wieder verwenden.
    </dd>

  </dl>
{% endblock %}

{% block jsloader %}
{% endblock %}
